@model  RealEstate.extModals.editModel
    @{
        ViewBag.Title = "Edit";
        Layout = "~/Views/Shared/_LayoutPage3.cshtml";
        String descri = "";
    }
<link href="~/Content/mycss.css" rel="stylesheet" />
    <!-- SUB BANNER -->
    <section class="section-sub-banner bg-9">
        <div class="sub-banner">
            <div class="container">
                <div class="text text-center">
                    <h2>Edit Property</h2>
                    @*<p>All Uploaded Properties</p>*@
                </div>
            </div>

        </div>

    </section>
    <!-- END / SUB BANNER -->
    <!-- ROOM DETAIL -->    
<section class="section-checkout">
    <div class="container">
        <div class="checkout">
            <div class="row">
                <div class="col-md-12">
                    <div class="checkout_head">
                        <h3>Edit Property Details</h3>
                        @*<span>Lorem Ipsum is simply dummy text</span>*@
                    </div>

                    <div class="checkout_form">
                        @using (Html.BeginForm("Edit", "Property", FormMethod.Post, new { id = "editProp", enctype = "multipart/form-data" }))
                        {
                            <h3 style="color:green;text-align:center">@ViewBag.Message</h3>
                            <div class="row">
                              
@foreach (var item in ViewBag.Proper)
{ 
    <input id="propid" name="propid" value="@item.PropID" type="hidden"/>   
                                 <div class="col-xs-6 col-sm-6">
                                    <label>Property Name<span class="bgColor">*</span></label>                                    
                                    @Html.TextBoxFor(m => m.propName, new { Value = item.pName ?? "0", @class = "field-text", placeholder = "Please Provide Property Name" })
                                    @Html.ValidationMessageFor(u => u.propName)
                                </div>
                                    <div class="col-xs-6 col-sm-6">
                                    <label>Rent per Month/Price of House (SEK)<span class="bgColor">*</span></label>
                                    @Html.TextBoxFor(m => m.Price, new { Value = item.pPrice ?? "0", @class = "field-text", placeholder = "Please Provide Property Price" })
                                    @Html.ValidationMessageFor(u => u.Price)
                                </div>
                                 <div class="col-xs-6 col-sm-6">
                                    <label>Property Type<span class="bgColor">*</span></label>
                                     @Html.DropDownListFor(m => m.ProType, (IEnumerable<SelectListItem>)ViewBag.pType, new { @class = "awe-select" })                                   
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <label>Property for<span class="bgColor">*</span></label>
                                    @Html.DropDownListFor(m => m.PropFor, (IEnumerable<SelectListItem>)ViewBag.pFor, new { @class = "awe-select" })                                    
                                </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <label>Floor No<span class="bgColor">*</span></label>
                                        @Html.DropDownListFor(m => m.nooffloor, (IEnumerable<SelectListItem>)ViewBag.floors, new { @class = "awe-select" })                                        
                                    </div>
                                <div class="col-xs-6 col-sm-6">
                                    <label>No of Rooms<span class="bgColor">*</span></label>
                                    @Html.DropDownListFor(m => m.noofrooms, (IEnumerable<SelectListItem>)ViewBag.rooms, new { @class = "awe-select" })                                   
                                </div>

                                <div class="col-xs-6 col-sm-6">
                                    <label>No of Beds<span class="bgColor">*</span></label>
                                    @Html.DropDownListFor(m => m.noofBed, (IEnumerable<SelectListItem>)ViewBag.beds, new { @class = "awe-select" })                                    
                                </div>
                            <div class="col-xs-6 col-sm-6">
                                    <label>Size Square Meters<span class="bgColor">*</span></label>                                    
                                    @Html.TextBoxFor(m => m.SizeSquare, new { Value = item.pSizeSquare ?? "0", @class = "field-text", placeholder = "Please Provide Property Size Square meters" })
                                    @Html.ValidationMessageFor(u => u.SizeSquare)
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <label>City<span class="bgColor">*</span></label>         
                                    @Html.DropDownListFor(m => m.CityID, ViewData["Cities"] as IEnumerable<SelectListItem>, new { @class = "awe-select" })                                    
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <label>Address<span class="bgColor">*</span></label>                                    
                                    @Html.TextBoxFor(m => m.Address, new { Value = item.pAddress ?? "0", @class = "field-text", placeholder = "Please Provide Address" })
                                    @Html.ValidationMessageFor(u => u.Address)
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <label>Post Code<span class="bgColor">*</span></label>                                    
                                    @Html.TextBoxFor(m => m.Postcode, new { Value = item.pPostCode ?? "0", @class = "field-text", placeholder = "Please Provide Post Code" })
                                    @Html.ValidationMessageFor(u => u.Postcode)
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <label>Available From<span class="bgColor">*</span></label>
                                    @{DateTime avail = item.pAvailableFrom;}
                                    @Html.TextBoxFor(m => m.availablefrom, new { Value = avail.ToShortDateString() ?? "0", @class = "awe-calendar", placeholder = "Please Provide Availability Date" })
                                    @Html.ValidationMessageFor(u => u.availablefrom)
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <label>Property Images (select multiple images at a time)</label>                                   
                                    @Html.TextBoxFor(m => m.imagProp, new { type = "file", @class = "field-text", multiple = "multiple" })                                  
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <label>Property Description<span class="bgColor">*</span></label>                                                 
                                    @{descri = item.pDescription;}                 
                                    <input value="@descri" id="descr" type="hidden"/>
                                    @Html.TextAreaFor(m => m.description, new { @class = "field-text", placeholder = "Please Provide Description" })
                                    @Html.ValidationMessageFor(u => u.description)
                                </div>
}
                            </div>
                            <div class="checkout_btn">
                                <button class="awe-btn awe-btn-13 btn-order">Submit</button>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="~/js/lib/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
      $(document).ready(function() {
          var resl = $("#descr").val();     
          $("#description").html(resl);
      });
</script>